.botao {
    height: 5%;
    width: 20%;    
}

.botao button {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    background-color: rgb(1, 197, 1);
    color: white; 
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: none;
}

.botao button:hover {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
    background: none;
    border: 2px solid rgb(1, 197, 1);
    color: rgb(1, 197, 1);
    height: 100%;
    width: 100%;
    border-radius: 20px;
}