.campo-texto {
    margin: 24px;
}

.campo-texto label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.campo-texto input {
    background-color: #696969;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    outline: none;
    color: rgb(4, 30, 53);    
}

.campo-texto input::placeholder {
    color: gray   
}
