.lista-suspensa {
    margin: 24px;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}

.lista-suspensa select {
    background-color: #696969;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    box-sizing: border-box;
    outline: none;
    color: rgb(4, 30, 53);
}

.lista-suspensa option {
    color: rgb(4, 30, 53);   
}